.main {
  margin: 5px;
  display: grid;

  grid-gap: 10px;
  background-color: blueviolet;
  grid-template-areas:
    "albimg1 ad1 ad1 ad1 ad1 ad1 ad1 ad1 img1"
    "albimg2 ad1 ad1 ad1 ad1 ad1 ad1 ad1 img2";

  /*    "alb-img-1 alb-img-2 alb-img-1 alb-img-2 alb-img-1 alb-img-2 alb-img-1 alb-img-2 alb-img-1"
    "alb-img-2 alb-img-1 alb-img-2 video video video alb-img-2 alb-img-1 alb-img-2"
    "alb-img-1 alb-img-2 alb-img-1 albimg2 albimg1 albimg2 alb-img-1 alb-img-2 alb-img-1"
    "alb-img-2 alb-img-1 alb-img-2 video video video alb-img-2 alb-img-1 alb-img-2"
    "alb-img-1 alb-img-2 alb-img-1 alb-img-2 alb-img-1 alb-img-2 alb-img-1 alb-img-2 alb-img-1"
    "alb-img-2 ad2 ad1 ad1 ad1 ad1 ad1 ad2 alb-img-2"
    "alb-img-1 alb-img-2 alb-img-1 alb-img-2 alb-img-1 alb-img-2 alb-img-1 alb-img-2 alb-img-1"; */
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 5vw);
}

.albimg {
  height: auto;
  object-fit: cover;
}

.albimg1 {
  grid-area: albimg1;
}

.albimg2 {
  grid-area: albimg2;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}

.ad1 {
  grid-area: ad1;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: black;
}
/*
.ad2 {
    grid-area: ad2;
}
/
.video {
    grid-area: video;
} */
